html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: white;
}

@media screen and (min-width: 769px) {
    body {
        background-image: url('https://i.ibb.co/khXkDf4/heroimage8.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url('https://i.ibb.co/fGHfsKH/heroimage8916.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-size: 18px;
    }
}

.main-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-section, .social-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo {
    max-width: 120px;
}

.description, .social-section p {
    font-size: 1.2em;
}

.social-section p {
    color: white;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-icons img {
    max-width: 35px;
    max-height: 35px;
}

.ref-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.ref-link {
    margin-bottom: 20px;
    text-align: center;
}

.ref-link a {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFA500;
    padding: 16px;
    background: #4169E1;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.ref-link a img {
    width: 100px;
    height: auto;
}

.ref-link h2 {
    margin: 0;
}

.ref-link p {
    margin-top: 10px;
    color: #FFF;
    font-size: 14px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-style: italic;
}
